<template>
  <v-dialog v-model="dialog" persistent max-width="450">
    <v-card>
      <v-form v-model="valid" ref="form">
        <v-card-title>
          <span class="headline">Add new article</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field v-model="article.title" label="Title" :rules="requiredRules"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-textarea label="Content" v-model="article.content" :rules="requiredRules"></v-textarea>
              </v-col>
              <v-col cols="12">
                <v-file-input
                  accept="image/*"
                  label="Image"
                  prepend-icon="mdi-camera"
                  show-size
                  counter
                  v-model="article.image"
                ></v-file-input>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="blue darken-1" text @click="close">Close</v-btn>
          <v-btn color="blue darken-1" text @click="save">Save</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    dialog: {
      type: Boolean,
      required: true
    }
  },

  data: () => ({
    article: {},
    valid: false,
    requiredRules: [v => !!v || 'Field is required']
  }),

  methods: {
    async save() {
      if (!this.$refs.form.validate()) {
        return;
      }

      const dataToSend = new FormData();
      dataToSend.append('title', this.article.title);
      dataToSend.append('content', this.article.content);

      if (this.article.image) {
        dataToSend.append('image', this.article.image, this.article.image.name);
      }

      try {
        const { data } = await axios.post('/api/articles', dataToSend);
        this.close();
        this.$emit('addedArticle', 1);
        this.flash('Article has been added!', 'success');
      } catch (err) {
        this.flash('Something went wrong!', 'error', {
          timeout: 2000
        });
      }
    },

    close() {
      this.article = {};
      this.$refs.form.resetValidation();
      this.$emit('close');
    }
  }
};
</script>

<style>
</style>