.messages-class {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 300px;
}

#tasksTable {
    width: 100%;
    text-align: center;
}

#tasksTable thead {
    background-color: #2196f3;
    color: white;
}

#tasksTable th {
    cursor: pointer;
    transition: all 1s;
}

#tasksTable th:not(:last-child):hover,
.active-order {
    background-color: #1976d2;
}

#tasksTable th:last-child {
    cursor: default;
}

#tasksTable td,
#tasksTable th {
    padding: 15px 0;
}

#tasksTable tbody > tr:nth-child(2n + 1) {
    background-color: #eee;
}

#tasksTable tbody > tr:hover {
    background-color: #ddd;
}

#tasksTable tbody tr td:nth-child(2) {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}
