<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-btn type="button" class="info mb-3" @click="addArticleModal = true">
          <i class="fa fa-plus mr-1"></i>
          Add new article
        </v-btn>
      </v-col>
      <v-col cols="12">
        <v-switch v-model="onlyMyCheckbox" label="Only my articles" color="info" hide-details></v-switch>
      </v-col>
      <v-col cols="12">
        <v-text-field label="Type something" outlined v-model="search"></v-text-field>
      </v-col>
      <loader v-if="loader"></loader>
      <template v-else>
        <v-container>
          <v-row v-if="articles.length">
            <v-col v-for="article in articles" :key="article.id" cols="12" sm="6" md="4">
              <v-card>
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title
                      @click="goTo(article)"
                      class="headline cursor-pointer"
                    >{{ article.title }}</v-list-item-title>
                    <v-list-item-subtitle>Author: {{ article.user.name }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-img :src="getImageUrl(article)" height="194"></v-img>
                <v-card-text class="article-text">{{ article.content }}</v-card-text>
                <v-card-actions>
                  <v-btn text color="deep-purple accent-4" @click="goTo(article)">Read</v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
            <v-pagination v-model="page" :length="lastPage" :total-visible="7" circle></v-pagination>
          </v-row>
          <v-row v-else>
            <v-col cols="12">
              <v-alert type="info">No articles found!</v-alert>
            </v-col>
          </v-row>
        </v-container>
      </template>

      <add-article-modal
        :dialog="addArticleModal"
        @addedArticle="getArticlesByPage"
        @close="closeModal"
      ></add-article-modal>
    </v-row>
  </v-container>
</template>

<script>
import Loader from './../components/Loader';
import AddArticleModal from './../components/articles/AddArticleModal.vue';

export default {
  components: { AddArticleModal, Loader },

  data: () => ({
    loader: true,
    articles: [],
    lastPage: 1,
    search: '',
    onlyMyCheckbox: false,
    addArticleModal: false,
    page: 1
  }),

  watch: {
    search: {
      handler: function(newVal, oldVal) {
        if (newVal.length < 3 && newVal !== '') {
          return;
        }

        if (this.timer) {
          clearTimeout(this.timer);
          this.timer = null;
        }
        this.timer = setTimeout(() => {
          if (this.page === 1) {
            this.getArticlesByPage(1);
          }

          this.page = 1;
        }, 300);
      }
    },

    page() {
      this.getArticlesByPage(this.page);
    },

    onlyMyCheckbox() {
      if (this.page === 1) {
        this.getArticlesByPage(1);
      }

      this.page = 1;
    }
  },

  mounted() {
    document.title = 'Articles';
    this.getArticlesByPage(1);
  },

  methods: {
    async getArticlesByPage(page) {
      if (page < 1 || page > this.lastPage) {
        return;
      }

      this.closeModal();
      this.loader = true;

      try {
        const url = `/api/articles?page=${page}&q=${this.search}&onlyMy=${this.onlyMyCheckbox}`;
        const { data } = await axios.get(url);

        this.articles = data.articles.data;
        this.lastPage = data.articles.last_page;
      } catch (err) {
        this.flash('Something went wrong!', 'error', {
          timeout: 2000
        });
      }

      this.loader = false;
    },

    getImageUrl(article) {
      return article.image
        ? '/storage/' + article.image
        : '/images/article-default.png ';
    },

    closeModal() {
      this.addArticleModal = false;
    },

    goTo(article) {
      document.location.href = '/articles/' + article.id;
    }
  }
};
</script>

<style>
.article-text {
  height: 80px;
  overflow: hidden;
}
</style>