<template>
  <v-content>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="6">
          <v-form @submit.prevent="login">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>Login form</v-toolbar-title>
                <div class="flex-grow-1"></div>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="E-mail Address"
                    v-model="user.email"
                    prepend-icon="person"
                    :error-messages="emailErrors"
                    @input="$v.user.email.$touch(); loginFaield = false"
                    @blur="$v.user.email.$touch()"
                  ></v-text-field>
                  <v-text-field
                    label="Password"
                    v-model="user.password"
                    prepend-icon="lock"
                    :error-messages="passwordErrors"
                    type="password"
                    @input="$v.user.password.$touch()"
                    @blur="$v.user.password.$touch()"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="primary" type="submit">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { required, email } from 'vuelidate/lib/validators';

export default {
  mixins: [validationMixin],

  validations: {
    user: {
      email: { required, email },
      password: { required }
    }
  },

  data: () => ({
    user: {},
    loginFaield: false
  }),

  computed: {
    passwordErrors() {
      const errors = [];
      if (!this.$v.user.password.$dirty) return errors;
      !this.$v.user.password.required && errors.push('Password is required.');

      return errors;
    },

    emailErrors() {
      const errors = [];
      if (!this.$v.user.email.$dirty) return errors;

      this.loginFaield &&
        errors.push('These credentials do not match our records.');
      !this.$v.user.email.email && errors.push('Must be valid e-mail.');
      !this.$v.user.email.required && errors.push('E-mail is required.');

      return errors;
    }
  },

  methods: {
    async login() {
      this.loginFaield = false;
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      try {
        await axios.post(`/login`, this.user);
        document.location.href = '/';
        location.reload();
      } catch (err) {
        if (err.response.status === 422) {
          this.loginFaield = true;
        } else {
          console.error(err);
        }
      }
    }
  }
};
</script>