<template>
  <v-content>
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="6">
          <v-form @submit.prevent="register">
            <v-card class="elevation-12">
              <v-toolbar color="primary" dark flat>
                <v-toolbar-title>Register form</v-toolbar-title>
                <div class="flex-grow-1"></div>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Name"
                    v-model="user.name"
                    :error-messages="nameErrors"
                    @input="$v.user.name.$touch();"
                    @blur="$v.user.name.$touch()"
                  ></v-text-field>
                  <v-text-field
                    label="E-mail Address"
                    v-model="user.email"
                    :error-messages="emailErrors"
                    @input="$v.user.email.$touch(); isEmailTaken = false"
                    @blur="$v.user.email.$touch()"
                  ></v-text-field>
                  <v-text-field
                    label="Password"
                    v-model="user.password"
                    :error-messages="passwordErrors"
                    type="password"
                    @input="$v.user.password.$touch()"
                    @blur="$v.user.password.$touch()"
                  ></v-text-field>
                  <v-text-field
                    label="Confirm Password"
                    v-model="user.password_confirmation"
                    :error-messages="passwordConfirmationErrors"
                    type="password"
                    @input="$v.user.password_confirmation.$touch()"
                    @blur="$v.user.password_confirmation.$touch()"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <div class="flex-grow-1"></div>
                <v-btn color="primary" type="submit">Register</v-btn>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
  </v-content>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { required, email, sameAs } from 'vuelidate/lib/validators';

export default {
  mixins: [validationMixin],

  validations: {
    user: {
      name: { required },
      email: { required, email },
      password: { required },
      password_confirmation: {
        required,
        sameAsPassword: sameAs('password')
      }
    }
  },

  data: () => ({
    user: {},
    isEmailTaken: false
  }),

  computed: {
    passwordConfirmationErrors() {
      const errors = [];
      if (!this.$v.user.password_confirmation.$dirty) return errors;
      !this.$v.user.password_confirmation.required &&
        errors.push('Password Confirmation is required');
      !this.$v.user.password_confirmation.sameAsPassword &&
        errors.push('Password confirmation must be equals to Password');

      return errors;
    },

    passwordErrors() {
      const errors = [];
      if (!this.$v.user.password.$dirty) return errors;
      !this.$v.user.password.required && errors.push('Password is required.');

      return errors;
    },

    emailErrors() {
      const errors = [];
      if (!this.$v.user.email.$dirty) return errors;

      this.isEmailTaken && errors.push('E-mail has already been taken');
      !this.$v.user.email.email && errors.push('Must be valid e-mail.');
      !this.$v.user.email.required && errors.push('E-mail is required.');

      return errors;
    },

    nameErrors() {
      const errors = [];
      if (!this.$v.user.name.$dirty) return errors;
      !this.$v.user.name.required && errors.push('Name is required.');

      return errors;
    }
  },

  methods: {
    async register() {
      this.isEmailTaken = false;
      this.$v.$touch();

      if (this.$v.$invalid) {
        return;
      }

      try {
        await axios.post(`/register`, this.user);
        document.location.href = '/';
        location.reload();
      } catch (err) {
        if (err.response.status === 422 && err.response.data.errors.email) {
          this.isEmailTaken = true;
        }
      }
    }
  }
};
</script>