<template>
  <loader v-if="loader"></loader>
  <v-container v-else>
    <v-row>
      <v-col cols="12">
        <v-btn @click="goBack" color="info" tile outlined block>
          <i class="fas fa-chevron-circle-left"></i>
        </v-btn>
      </v-col>
      <v-col cols="12">
        <img
          height="300px"
          width="100%"
          :src="article.image ? '/storage/' + article.image : '/images/article-default.png'"
        />
      </v-col>
      <v-col>
        <h2 class="mt-3 mb-3">{{ article.title }}</h2>
        <p class="mt-3">{{ article.content }}</p>
        <small class="font-weight-thin">Author: {{ article.user.name }} at {{ article.created_at }}</small>
        <v-divider></v-divider>
        <v-container v-if="relatedReady">
          <v-row>
            <v-col v-for="article in relatedArticles" :key="article.id" cols="12" sm="6" md="4">
              <v-card>
                <v-list-item>
                  <v-list-item-content>
                    <v-list-item-title
                      @click="goTo(article)"
                      class="headline cursor-pointer"
                    >{{ article.title }}</v-list-item-title>
                    <v-list-item-subtitle>Author: {{ article.user.name }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-img :src="getImageUrl(article)" height="194"></v-img>
                <v-card-text class="article-text">{{ article.content }}</v-card-text>
                <v-card-actions>
                  <v-btn text color="deep-purple accent-4" @click="goTo(article)">Read</v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Loader from './../components/Loader';

export default {
  components: { Loader },

  props: {
    articleId: {
      required: true,
      type: Number
    }
  },

  data: () => ({
    relatedReady: false,
    loader: true,
    article: {},
    relatedArticles: []
  }),

  async mounted() {
    try {
      const { data } = await axios.get('/api/articles/' + this.articleId);

      this.article = data;
      this.getRelated();
    } catch (err) {
      this.flash('Something went wrong!', 'error', {
        timeout: 2000
      });
    }

    this.loader = false;
  },

  methods: {
    goBack() {
      location.href = '/articles';
    },

    async getRelated() {
      try {
        const { data } = await axios.get(
          `/api/articles/${this.articleId}/related`
        );

        this.relatedArticles = data.related;
        this.relatedReady = true;
      } catch (err) {}
    },

    getImageUrl(article) {
      return article.image
        ? '/storage/' + article.image
        : '/images/article-default.png ';
    },

    goTo(article) {
      document.location.href = '/articles/' + article.id;
    }
  }
};
</script>

<style>
.article-text {
  height: 80px;
  overflow: hidden;
}
</style>