<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-btn type="button" class="info mb-3" @click="add">
          <i class="fa fa-plus mr-1"></i>
          Add new tasks
        </v-btn>
      </v-col>
      <v-col cols="12">
        <v-text-field label="Type something" outlined v-model="search"></v-text-field>
      </v-col>
      <v-col cols="12">
        <loader v-if="loader"></loader>
        <template v-else>
          <v-container v-if="tasks.length">
            <v-row justify="center">
              <v-col cols="12">
                <table id="tasksTable" cellspacing="0" class="elevation-3">
                  <thead>
                    <tr>
                      <th @click="changeSort('id')" :class="sortBy === 'id' ? 'active-order' : '' ">
                        <i
                          v-if="sortBy === 'id'"
                          :class=" descending ? 'fas fa-arrow-down' : 'fas fa-arrow-up'"
                        ></i>
                        Id
                      </th>
                      <th
                        @click="changeSort('name')"
                        :class="sortBy === 'name' ? 'active-order' : '' "
                      >
                        <i
                          v-if="sortBy === 'name'"
                          :class=" descending ? 'fas fa-arrow-down' : 'fas fa-arrow-up'"
                        ></i>
                        Name
                      </th>
                      <th
                        @click="changeSort('completed')"
                        :class="sortBy === 'completed' ? 'active-order' : '' "
                      >
                        <i
                          v-if="sortBy === 'completed'"
                          :class=" descending ? 'fas fa-arrow-down' : 'fas fa-arrow-up'"
                        ></i>Completed
                      </th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(task, index) in tasks" :key="index">
                      <td>{{ task.id }}</td>
                      <td>
                        <span
                          v-show="!editing || editing && editingIndex !== index"
                          @click="edit(index)"
                        >{{ task.name ? task.name : 'Please enter task name' }}</span>
                        <input
                          v-show="editing && editingIndex === index"
                          class="col-sm-12 invisible-center"
                          type="text"
                          name="name"
                          v-model="task.name"
                          :ref="'title'"
                          placeholder="Please enter task name"
                          @blur="save(task)"
                        />
                      </td>
                      <td>
                        <button @click="toggleStatus(task)">
                          <i v-if="task.completed" class="fa fa-check-circle"></i>
                          <i v-else class="fa fa-circle"></i>
                        </button>
                      </td>
                      <td>
                        <button @click="pendingDelete(task, index)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </v-col>
              <v-col cols="12">
                <v-pagination v-model="page" :length="lastPage" :total-visible="7" circle></v-pagination>
              </v-col>
              <v-col cols="1">
                <v-select :items="[15, 30, 45, 'All']" v-model="perPage" outlined></v-select>
              </v-col>
            </v-row>
          </v-container>
          <v-alert v-else type="info">No tasks found!</v-alert>
        </template>
      </v-col>
    </v-row>
    <confirmation-modal
      :dialog="delConfirmationDialog"
      @confirmed="destroy"
      @close="delConfirmationDialog = false"
      :message="'Are you sure you want to delete this estimate?'"
    ></confirmation-modal>
  </v-container>
</template>

<script>
import Loader from './../components/Loader';
import ConfirmationModal from './../components/ConfirmationModal.vue';
import axios from 'axios';

export default {
  components: { Loader, ConfirmationModal },

  data() {
    return {
      loader: true,
      tasks: [],
      editing: false,
      editingIndex: null,
      task: {},
      lastPage: 1,
      perPage: 15,
      search: '',
      sortBy: 'id',
      descending: true,
      page: 1,
      delConfirmationDialog: false
    };
  },

  watch: {
    search: {
      handler: function(newVal, oldVal) {
        if (newVal.length < 3 && newVal !== '') {
          return;
        }

        if (this.timer) {
          clearTimeout(this.timer);
          this.timer = null;
        }
        this.timer = setTimeout(() => {
          if (this.page === 1) {
            this.getTasksByPage(1);
          }

          this.page = 1;
        }, 300);
      }
    },

    page() {
      this.getTasksByPage(this.page);
    },

    perPage() {
      this.getTasksByPage(this.page);
    }
  },

  mounted() {
    document.title = 'My tasks';
    this.getTasksByPage(1);
  },

  methods: {
    async getTasksByPage(page) {
      if (page < 1 || page > this.lastPage) {
        return;
      }

      this.loader = true;

      try {
        const url = `/api/tasks?page=${page}&perPage=${this.perPage}&q=${this.search}&sortBy=${this.sortBy}&descending=${this.descending}`;
        const { data } = await axios.get(url);

        if (data.tasks.data.length === 0 && this.page !== 1) {
          this.page = data.tasks.last_page;
          return;
        }

        this.tasks = data.tasks.data;
        this.lastPage = data.tasks.last_page;
      } catch (err) {
        this.flash('Something went wrong!', 'error', {
          timeout: 2000
        });
      }

      this.loader = false;
    },

    async add() {
      this.loader = true;
      this.sortBy = 'id';
      this.descending = true;

      try {
        const { data } = await axios.post('/api/tasks', {
          name: 'Please enter task name'
        });

        this.getTasksByPage(1);
        this.flash('Task has been added!', 'success');
      } catch (err) {
        this.flash('Something went wrong!', 'error', {
          timeout: 2000
        });
      }
    },

    async destroy() {
      this.delConfirmationDialog = false;
      this.loader = true;

      try {
        await axios.delete(`/api${this.task.path}`);

        this.flash('Task has been deleted!', 'success');
        this.getTasksByPage(this.page);
      } catch (err) {
        this.flash('Something went wrong!', 'error', {
          timeout: 2000
        });
      }
    },

    pendingDelete(task, index) {
      this.task = task;
      this.index = index;
      this.delConfirmationDialog = true;
    },

    async edit(index) {
      this.editingIndex = index;
      this.editing = true;

      await this.$nextTick();

      let input = this.$refs.title[index];
      input.focus();
    },

    async save(task) {
      this.editingIndex = null;
      this.editing = false;

      try {
        await axios.put(`/api${task.path}`, task);

        this.flash('Task has been updated!', 'success');
      } catch (err) {
        this.flash('Something went wrong!', 'error', {
          timeout: 2000
        });
      }
    },

    async toggleStatus(task) {
      try {
        const { data } = await axios.patch(
          `/api${task.path}/toggle-status`,
          task
        );

        task.completed = data.completed;
        this.flash('Status changed!', 'success');
      } catch (err) {
        this.flash('Something went wrong!', 'error', {
          timeout: 2000
        });
      }
    },

    changeSort(fieldName) {
      if (fieldName !== this.sortBy) {
        this.descending = false;
      } else {
        this.descending = !this.descending;
      }

      this.sortBy = fieldName;

      this.getTasksByPage(1);
    }
  }
};
</script>

<style>
</style>
