<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" max-width="290">
      <v-card>
        <v-card-title class="headline">Confirm operation</v-card-title>
        <v-card-text>{{ message }}</v-card-text>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="green darken-1" text @click="$emit('close')">Disagree</v-btn>
          <v-btn color="green darken-1" text @click="$emit('confirmed')">Yes, I am sure!</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: {
    dialog: {
      type: Boolean,
      required: true
    },

    message: {
      type: String,
      required: true
    }
  }
};
</script>
