<template>
  <div class="loader-container">
    <div class="loader"></div>
  </div>
</template>

<script>
export default {};
</script>


<style>
.loader-container {
  width: 100%;
  margin: 20px 0;
}
.loader {
  border: 3px solid #fff;
  border-radius: 50%;
  border-top: 3px solid #990099;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
  margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
