<template>
  <v-app-bar app clipped-left>
    <v-container fluid>
      <v-row justify="center">
        <v-col cols="12" sm="11" md="9" lg="7">
          <v-container fluid>
            <v-row justify="space-around">
              <v-col cols="11" md="5" class="pl-0">
                <v-toolbar-title class="cursor-pointer" @click="goToHome">{{ appName }}</v-toolbar-title>
              </v-col>
              <v-col cols="1" md="7" class="text-right pr-0">
                <template v-if="$vuetify.breakpoint.smAndDown">
                  <v-menu v-if="user === 'logged'">
                    <template v-slot:activator="{ on }">
                      <v-btn icon v-on="on">
                        <v-icon>more_vert</v-icon>
                      </v-btn>
                    </template>

                    <v-list>
                      <v-list-item v-for="(item, i) in items" :key="i" @click="item.click">
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                  <v-menu v-else bottom left>
                    <template v-slot:activator="{ on }">
                      <v-btn icon v-on="on">
                        <v-icon>more_vert</v-icon>
                      </v-btn>
                    </template>

                    <v-list>
                      <v-list-item v-for="(item, i) in questItems" :key="i" @click="item.click">
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </template>
                <template v-else>
                  <template v-if="user === 'logged'">
                    <v-btn
                      text
                      outlined
                      color="info"
                      class="mx-2"
                      v-for="(item, i) in items"
                      :key="i"
                      @click="item.click"
                    >{{ item.title }}</v-btn>
                  </template>
                  <template v-else>
                    <v-btn
                      text
                      outlined
                      color="info"
                      class="mx-2"
                      v-for="(item, i) in questItems"
                      :key="i"
                      @click="item.click"
                    >{{ item.title }}</v-btn>
                  </template>
                </template>
              </v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
  </v-app-bar>
</template>

<script>
export default {
  props: {
    user: {
      type: String,
      required: false,
      default: 'logged'
    },

    appName: {
      type: String,
      required: true
    }
  },

  data: () => ({
    items: [
      {
        title: 'Articles',
        click: () => {
          document.location.href = '/articles';
        }
      },
      {
        title: 'Tasks',
        click: () => {
          document.location.href = '/tasks';
        }
      },
      {
        icon: 'logout',
        title: 'Logout',
        click: async () => {
          try {
            await axios.post('/logout');
            document.location.href = '/login';
          } catch (err) {
            location.reload();
          }
        }
      }
    ],
    questItems: [
      {
        title: 'Login',
        click: () => {
          document.location.href = '/login';
        }
      },
      {
        title: 'Register',
        click: () => {
          document.location.href = '/register';
        }
      }
    ]
  }),

  methods: {
    goToHome() {
      document.location.href = '/';
    }
  }
};
</script>

<style>
</style>